<div class="">

  {{!-- First View Port --}}
  <div class="w-full h-screen flex items-center justify-center bg-cover bg-[url('https://i.imgur.com/Ze1RtQr.jpg')]">

    <div
      class="text-white w-[80%] h-[50%] p-[5%] rounded-md flex justify-center items-center flex-col "
      {{!-- style="background-color: rgba(255,255,255,0.1);" --}}
    >

      <h1 class="font-bold text:sm md:text-lg">WELCOME TO</h1>
      <h1 class="text-5xl font-bold">BACK TO BASICS OUTREACH  </>
    </div>

  </div>


  {{!-- Second section --}}
  <div class=" flex w-full h-[300px] justify-between text-white  p-4 space-x-4">
    <div class="w-[33%]   border bg-[#433b8f] flex p-6 justify-center">To evangelize the world in the name of JESUS CHRIST and to propagate the Gospel of Jesus Christ through evangelical films presentation</div>
    <div class="w-[33%]  border bg-[#433b8f] flex p-6 justify-center">To provide material support and assistance to inmates in prisons, hospitals internally displaced persons camp and rehabilitation centers</div>
    <div class="w-[33%] border bg-[#433b8f] flex p-6 justify-center">To do all such other lawful things as may be considered to be incidental or conducive to the attainment of our overall objective or any of them</div>
   

  </div>



  {{!-- Third section --}}

  <div class=" flex flex-col w-full h-[200px] items-center p-4  space-y-2">
     <h1 class=" text:sm md:text-lg">WHO WE ARE </h1>
      <h1 class="text-4xl  font-bold">WE ARE A NON-PROFIT AND NON-POLITICAL ORGANIZATION  <h1/>
      <p class="text-md  flex justify-center items-center ">The aims for which the Ministry is established and empowered to execute her vision is as in-line with the strategies of the spoken, written and media ministries. <br/> In these, the ministerial church is committed to two aim purpose with the on-following objectives by every inspired and revealed grace, as the Lord directs:</p>
  </div>
</div>